.container
  nav
    div.gnav-member-bar  
      ul
        li
          a(href= "signup") IN
        li
          a(href= "signup" ) Contact Us
        li
         a(href= "#" ) Promotion message to displayed here
        li 
         a(href="#") INR
    div.menu-header
      div.search-button
        input(type="text", name="search" placeholder="search")
        button
         i.far.fa-search
      ul  
       li
        span.far.fa-shopping-cart
        a(href="#") Cart
       li
        span.fal.fa-user
        a(href="#") Login & Signup
        
    div.utlity-header
      ul
        li
          a(href="home") Men
        li
          a(href="#") Women
        li 
          a(href="#") Jewellery
        li
          a(href="#") Deals
          